body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    max-width: 600px;
    width: 100%;
    border-collapse: collapse;
}
.image{
    background-color: #0c131b;
}
.image-yellow{
    background-color: #ebd2aa;
}
.button{
    width: 59%;
    border-collapse: collapse;
    border-radius: 3px;
    background-color: #9f15a9;
}
.button td{
    padding-top: 12px;
    padding-bottom: 12px;
}
.fon-around-button a{
    color: #fffff8;
    text-decoration: none;
    text-transform: uppercase;
}
.button-cards{
    font-size: 24px;
    line-height: 22px;
}
.button-order{
    font-size: 18px;
    line-height: 22px;
}
h1{
    margin: 0;
    font-size: 55px;
    line-height: 1em;
    color: #20b4bb;
    font-weight: bold;
}
.uppercase{
    font-size: 36px;
    text-transform: uppercase;
}
.uppercase{
    padding-bottom: 8px;
}
.uppercase .heading{
    color: #9f15a9;
}
h2{
    margin: 0;
    font-size: 36px;
    line-height: 1em;
    color: #bcbcbd;
    font-weight: bold;
    padding-bottom: 35px;
}
.header h1{
    padding-bottom: 8px;
}
.social-heading,
.communication,
.soc_networks{
    padding-left: 55px;
    padding-right: 55px;
    background-color: #ebd2aa;
}
.social-heading h2{
    font-size: 36px;
    color: #263870;
    font-weight: bold;
}
.communication p{
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}
.social-heading{
    padding-top: 45px;
    padding-bottom: 15px;
}
.soc_networks{
    padding-top: 40px;
}
.soc_networks{
    padding-bottom: 30px;
}
.point{
    padding-left: 2px;
    padding-right: 2px;
}
p{ 
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    color: #86918c;
}
p b{
    color: #e8a336;
}
img{
    vertical-align: bottom;
}
.link{
    color: #fa5d26;
    text-decoration: none;
}
.social-link{
    font-size: 14px;
    line-height: 22px;
    color: #b25000;
    text-decoration: none;
}
.header{
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 40px;
    background-color: #0c131b;
}

.fon-around-button,
.offer{
    width: 100%;
    padding-top: 15px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #0c131b;
}
.about{
    padding-bottom: 20px;
}
.order{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 3px;
    background-color: #0c131b;
}
.order p .grey{
    color: #bcbcbd;
}
.order p{
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    color: #bcbcbd;
}
.fox{
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #0c131b;
    padding-bottom: 25px;
}
.offer p{
    font-size: 11px;
    line-height: 22px;
    color: #85908c;
    font-weight: bold;
}
.offer p b{
    color: #85908c;
}
.live{
    padding-left: 35px;
    padding-right: 35px;
    background-color: #0d131b;
}
.live-heading{
    padding-bottom: 10px;
}
.live h2{
    font-size: 36px;
    color: #bcbcbd;
    font-weight: bold;
}
.live-info{
    padding-left: 45px;
    padding-right: 45px;
    background-color: #0d131b;
}
.paddings{
    padding-top: 40px;
    padding-bottom: 55px;
}